<!doctype html>
<html ng-app="app">
<head>
  <title>ng-repeat example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script>
  var myapp = angular.module("app",[]);
  myapp.controller("myctrl",function($scope){
  $scope.displayname = function(){
  $scope.family = [{fname:"sindhu",lname:"sura"},{fname:"mounika",lname:"sura"}];
};

});
  </script>
 </head>
 <body ng-controller="myctrl">
 	<table>
 		<tr><td>ID</td><td> First name </td><td> Last name </td></tr>
 		<tr ng-repeat="f in family">
 		<td>{{$index+1}}</td>
 		<td ng-bind="f.fname"></td>
 		<td ng-bind="f.lname"></td>
 	</tr>
 	</table>
 	<input type="button" value="Click Me!" ng-click="displayname()"/>
 	
</body>
</html>